<!-- check if error or success and apply classes as necessary -->
<!-- TODO HERE -->
<span class="flashMessage <%= status %>">
  <div>
    <div><%= status %></div>
    <img src="../../public/svg/x-symbol-svgrepo-com.svg" alt="closeButton" class="closeButton">
  </div>
  <div><%= message %></div>
</span>