  <span class="flashMessage">
    <div>
      <div><%= status %></div>
      <object data="../../public/svg/x-symbol-svgrepo-com.svg" class="closeButton"></object>
    </div>
    <div><%= message %></div>
  </span>