<ul class="mobileHeaderItems">
  <li><a href="#">Home</a></li>
  <li><a href="/libraries">Libraries</a></li>
  <li><a href="/libraries/new">New Libraries</a></li>
</ul>
<div class="navbar">
  <span class="logo">/LIBS</span>

  <ul class="wideHeaderItems">
    <li><a href="#">Home</a></li>
    <li><a href="/libraries">Libraries</a></li>
    <li><a href="/libraries/new">New Libraries</a></li>
  </ul>

  <span class="headerSpacer"></span>

  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</div>
