<ul class="mobileHeaderItems">
  <li><a href="/libraries">Home</a></li>
  <li><a href="/libraries">Libraries</a></li>
  <li><a href="/libraries/new">New Libraries</a></li>
</ul>
<div class="navbar">
  <a href="/libraries" class="logo">/LIBS</a>

  <ul class="wideHeaderItems">
    <li><a href="#">Home</a></li>
    <li><a href="/libraries">Libraries</a></li>
    <li><a href="/libraries/new">New Libraries</a></li>
  </ul>

  <div class="navbarRightCluster">
    <button class="authButton">LOGIN</button>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
</div>
<div class="authFormOverlay" tabindex="-1"></div>