<ul class="mobileHeaderItems">
  <li><a href="/libraries">Home</a></li>
  <li><a href="/libraries">Libraries</a></li>
  <li><a href="/libraries/new">New Libraries</a></li>
</ul>
<div class="navbar">
  <a href="/libraries" class="logo">/LIBS</a>

  <ul class="wideHeaderItems">
    <li><a href="#">Home</a></li>
    <li><a href="/libraries">Libraries</a></li>
    <li><a href="/libraries/new">New Libraries</a></li>
  </ul>

  <div class="navbarRightCluster">
    <a href="/users/logout">LOGOUT</a>
    <%= console.log(locals) %>
    <%= console.log("need to check if user is logged in in template to show and hide logout button") %>
    <button class="authButton">LOGIN</button>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
</div>
<!-- auth form -->
<div class="authFormOverlay" tabindex="-1">
  <div class="authContainer">
    <div class="logo">/LIBS</div>
    <form class="signInForm" action="/users/login" method="post" onsubmit="return validateForm.user()">
      <label>Username <input type="text" name="username" id="username" autocomplete="off">
      </label>
      <label>Password <input type="password" name="password" id="password">
      </label>
      <button>Sign In</button>
    </form>
    <form class="registerForm hidden" action="/users" method="post" onsubmit="return validateForm.newUser()">
      <label>Email <input type="email" name="user[email]" id="newEmail" autocomplete="off">
      </label>
      <label>Username <input type="text" name="user[username]" id="newUsername" autocomplete="off">
      </label>
      <label>Password <input type="password" name="user[password]" id="newPassword">
      </label>
      <button>Register</button>
    </form>
    <button id="authFormToggleButton">Sign Up</button>
  </div>
</div>