<ul class="mobileHeaderItems">
  <li><a href="/">Home</a></li>
  <li><a href="/libraries">Things</a></li>
  <li><a href="/libraries/new">Make a new thing</a></li>
</ul>
<div class="navbar">
  <a href="/libraries" class="logo">/BITS</a>

  <ul class="wideHeaderItems">
    <li><a href="/">Home</a></li>
    <li><a href="/libraries">Thing</a></li>
    <li><a href="/libraries/new">Make a new thing</a></li>
  </ul>

  <div class="navbarRightCluster">
    <% if(user) { %>
    <form action="/users/logout" data-form-type="logout">
      <button class="authButton">LOGOUT</button>
    </form>
    <button class="authButton" id="loginButton" style="display: none;">LOG IN</button>
    <% } else {%>
    <form action="/users/logout" style="display: none;" data-form-type="logout">
      <button class="authButton">LOGOUT</button>
    </form>
    <button class="authButton" id="loginButton">LOG IN</button>
    <% } %>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
</div>
<!-- auth form -->
<div class="authFormOverlay" tabindex="-1">
  <div class="authContainer">
    <div class="logo">/BITS</div>
    <form class="signInForm" action="/users/login" method="post" data-form-type="login">
      <label>Username <input type="text" name="username" id="username" autocomplete="off">
      </label>
      <label>Password <input type="password" name="password" id="password">
      </label>
      <button>Sign In</button>
    </form>
    <form class="registerForm hidden" action="/users" method="post" data-form-type="register">
      <label>Email <input type="email" name="user[email]" id="newEmail" autocomplete="off">
      </label>
      <label>Username <input type="text" name="user[username]" id="newUsername" autocomplete="off">
      </label>
      <label>Password <input type="password" name="user[password]" id="newPassword">
      </label>
      <button>Register</button>
    </form>
    <button id="authFormToggleButton">Sign Up</button>
  </div>
</div>