<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LIBS</title>
</head>

<body>
  <div class="mainHeader" id="indexMap"></div>
  <script>
    const mapboxToken = "<%= process.env.MAPBOX_TOKEN %>"
    const result = {
      features: <%- JSON.stringify(result) %>
    }
  </script>
  <script src="/scripts/indexMapbox.js"></script>
</body>

</html>