<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

  <!-- CSS -->
  <base href="/" />
  <link rel="stylesheet" type="text/css" href="/styles/basicStyle.css" />


  <!-- mapbox -->
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>

  <!-- FAVICON -->
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />

  <title>BITS</title>
</head>

<body>
  <% if (status.length) {%>
  <%- include("../partials/flashMessage")%>
  <% } %>

  <% if ( user ) {%>
  <meta http-equiv="refresh" content="2; url = /libraries" />
  <% } %>
  <div class="homeOverlay">
    <form action="/users/login" method="post" onsubmit="return validateForm.user()">
      <div id="homeTitle">/BITS</div>
      <% if ( !user ) {%>
      <input type="text" name="username" placeholder="Username" id="username">
      <input type="password" name="password" placeholder="Password" id="password">
      <input type="submit" hidden>
      <a href="/libraries">skip login</a>
      <% } else { %>
      <div>please wait...</div>
      <meta http-equiv="refresh" content="2; url = /libraries" />
      <% } %>

    </form>
  </div>
  <div id="homeMap"></div>
  <script>
    const mapboxToken = "<%= process.env.MAPBOX_TOKEN %>"
    const result = {
      features: <%- JSON.stringify(result) %>
    }
  </script>
  <script src="/scripts/homeMap.js"></script>
  <script src="/scripts/mainScript.js"></script>
</body>

</html>