<!-- use ejs-mate /views/boilerplate layout -->
<% layout("layouts/boilerplate") %>

<h1>Showing all libraries</h1>
<div><a href="/libraries/new">New library</a></div>
<ul>
  <% for (let libs of result) { %>
  <li>
    <a href="/libraries/<%= libs._id %>"><%= libs.name %></a>
  </li>
  <% } %>
</ul>
