<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Libraries</title>
  </head>
  <body>
    <h1>Showing all libraries</h1>
    <div><a href="/libraries/new">New library</a></div>
    <ul>
      <% for (let libs of result) { %>
      <li>
        <a href="/libraries/<%= libs._id %>"><%= libs.name %></a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
