<!-- use ejs-mate /views/boilerplate layout -->
<% layout("layouts/boilerplate") %>
<main>
  <h1>Report new library</h1>

  <form
    action="/libraries"
    class="editForm"
    method="post"
    onsubmit="return formValidation()"
  >
    <div>
      <label for="name">Name:</label>
      <input type="text" name="lib[name]" id="name" autocomplete="off" />
    </div>
    <div>
      <label for="description">Description:</label>
      <input
        type="text"
        name="lib[description]"
        id="description"
        autocomplete="off"
      />
    </div>
    <div>
      <label for="location">Location:</label>
      <input
        type="text"
        name="lib[location]"
        id="location"
        autocomplete="off"
      />
    </div>
    <!-- <div>
      <label for="location">Location:</label>
      <select name="lib[location]" id="location">
        <option value="" disabled>--Select location--</option>
      </select>
    </div> -->
    <div>
      <label for="fee">Fee:</label>
      <input type="number" name="lib[fee]" id="fee" autocomplete="off" />
    </div>
    <!-- file section temporarily removed while figuring out how to store it -->
    <!-- <div>
      <label for="file">Upload image:</label>
      <input type="file" name="lib.img" id="file" />
    </div> -->
    <div>
      <button>Create new library</button>
      <a href="/libraries" class="anchorButton">Back</a>
    </div>
  </form>
</main>
