<!-- use ejs-mate /views/boilerplate layout -->
<% layout("layouts/boilerplate") %>
<main>
  <h1>Report new library</h1>

  <form action="/libraries" method="post">
    <div>
      <label for="name">Name:</label>
      <input type="text" name="lib[name]" id="name" />
    </div>
    <div>
      <label for="description">Description:</label>
      <input type="text" name="lib[description]" id="description" />
    </div>
    <div>
      <label for="location">Location:</label>
      <input type="text" name="lib[location]" id="location" />
    </div>
    <!-- <div>
          <label for="location">Location:</label>
          <select name="lib[location]" id="location">
            <option value="" disabled>--Select location--</option>
          </select>
        </div> -->
    <div>
      <label for="fee">Fee:</label>
      <input type="number" name="lib[fee]" id="fee" />
    </div>
    <div><button>Create new library</button> <a href="/libraries">Back</a></div>
  </form>
</main>
