<% layout("layouts/boilerplate") %>

<main>
  <div class="errorBox">
    <span class="errorCode"><%= status %> </span>
    <div class="errorDivider"></div>
    <span class="errorMessage"><%= message %></span>
    <!-- <span class="errorMessage"><%= err.stack %></span> -->
  </div>
</main>